@import url('https://fonts.googleapis.com/css?family=Dosis|Julius+Sans+One|Macondo|Righteous');

body {
    background-image: url('../scuffedstatic_blue1400x900.jpg');
    /*background-size: cover;*/
}

html, body {
    display: flex;
    background-color: #333;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 280px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

    background-color: rgba(235,235,235,0.15);
    
    color: rgba(255,255,255,1);
    text-align: center;
    font-family: 'Dosis';
    font-weight: 500;
    -webkit-filter: blur(.5px); /* Safari 6.0 - 9.0 */
    filter: blur(.5px);
}

.content {
    display: none;
    /*height: 280px;*/
    margin: auto;
    flex-direction: column;
}

#header, #weather-details, #weather-summary {
    flex: 0 1 auto;
}

#city {
    font-family: 'Righteous';
    font-size: 4em;
    line-height: 0.8;
}

#region {
    font-size: 1.5em;
}

#date {
    font-size: 1.1em;
}

#weather-details {
    display: flex;
    justify-content: center;
}

#weather-title {
    font-size: 1.5em;
}

.wi {
    font-size: 5em;
}

#icon-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
}

#icon {
    margin-right: 12px
}

#temp-div {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: 'Dosis';
    flex: 0 1 auto;
    padding: 16px 0;
}

#temperature {
    font-size: 128px;
    line-height: 108px;
}

#unit {
    font-size: 3em;
    font-family: 'Dosis';
    cursor: pointer;
    align-self: flex-start;
    padding-left: 6px;
}

#icon-div, #hilo {
    flex: 0 1 33%;
}

#hilo {
    font-family: 'Dosis';
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-direction: column;
    padding: 16px 0 16px 3%;
}

.hilo-text {
    font-size: 0.75em;
    padding-right: 0.5em;
}

#test {
    display: inline-block;
}

#hi, #lo {
    display: inline;
}

hr {
    margin: 0;
    padding: 0;
    /*width: 36px;*/
}


/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#spinner	{ /* with animation properties */
	-webkit-animation-name: spin;
	-webkit-animation-duration: 10000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

    animation-name: spin;
	animation-duration: 10000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


